dist/test/
src/
tsconfig.*
.npmignore
.gitignore
.eslintignore
.gitattributes
.prettierignore
.editorconfig
.prettierrc.js
npm-debug.log
yarn-error.log
.github/
.nyc_output/
.publish/
coverage
.idea/
.git/
.eslintrc.js
